.game{
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
    overflow: hidden;
}

#dino{
    width: 50px;
    height: 50px;
    background-image: url(./assets/dino1.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

#cactus{
    width: 20px;
    height: 40px;
    background-image: url(./assets/cactus.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 620px;
    animation: objMov 2s infinite linear;
}

#bird{
    width: 50px;
    height: 30px;
    top: 25px;
    left: 620px;
    position: relative;
    background-image: url(./assets/bird.png);
    background-size: 50px 30px;
    animation: objMov 2s infinite linear;
    animation-delay: 1s;
}

@keyframes objMov{
    0%{
        left: 620px;
    }
    100%{
        left: -20px;
    }
}

.jump{
    animation: jumper 0.5s infinite linear;
}

@keyframes jumper{
    0%{
        top: 150px;
    }
    30%{
        top: 130px;
    }
    50%{
        top: 80px;
    }
    80%{
        top: 130px;
    }
    100%{
        top: 150px;
    }
}